<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>
    <% for(const [idx,user] of UserList.entries()) { %>
        <% if  (user.name ==="player") { %>
            <% if (TurnPartie===2) {%>
                <img src="/images/<%= cartesDesignList[0]%>.png"><img src="/images/<%= cartesDesignList[1]%>.png"><img src="/images/<%= cartesDesignList[4]%>.png">
            <% } else {%>
                <img src="/images/<%= cartesDesignList[0]%>.png"><img src="/images/<%= cartesDesignList[1]%>.png">
            <% } %>
        <% } else {%>
            <% if (TurnPartie===2) {%>
                <img src="/images/carte-a-jouer.png"><img src="/images/carte-a-jouer.png"><img src="/images/carte-a-jouer.png">
            <% } else {%>  
                <img src="/images/carte-a-jouer.png"><img src="/images/carte-a-jouer.png">
            <% } %>     
        <% } %>
        <li><%= user.name %></li>
        <li><%= user.jetons %></li>
        <li>mise : <%= user.mise %></li>
    <% } %>

    <% if (UserList[0].currentTurn===false) { %>
        <p>C'est au tour de l'adversaire...</p>
        <% setTimeout(BotTurn,5000) %>
        <meta http-equiv="refresh" content="6">
    <%} else { %>
    <form action="/accueil/game" method="post">
        <% if (UserList[0].mise===0 && UserList[1].mise===0) {%>
            <button type="submit" name="action" value="check" class="col-lg-2">check</button>
        <button type="submit" name="action" value="call" class="col-lg-2" disabled>call</button>
        <button type="submit" name="action" value="raise" class="col-lg-2" disabled>raise</button>
        <button type="submit" name="action" value="fold" class="col-lg-2" disabled>fold</button>
        <button type="submit" name="action" value="mise1" class="col-lg-1">mise (1)</button>
        <button type="submit" name="action" value="mise2" class="col-lg-1">mise (2)</button>
        <%} else if (TurnChange===2 && UserList[1].mise > UserList[0].mise && UserList[0].mise===0) {%> 
        <button type="submit" name="action" value="check" class="col-lg-2" disabled>check</button>
        <button type="submit" name="action" value="call" class="col-lg-2">call</button>
        <button type="submit" name="action" value="raise" class="col-lg-2">raise</button>
        <button type="submit" name="action" value="fold" class="col-lg-2">fold</button>
        <button type="submit" name="action" value="mise1" class="col-lg-1" disabled>mise (1)</button>
        <button type="submit" name="action" value="mise2" class="col-lg-1" disabled>mise (2)</button>
        <% } else {%>
            <button type="submit" name="action" value="check" class="col-lg-2" disabled>check</button>
            <button type="submit" name="action" value="call" class="col-lg-2">call</button>
            <button type="submit" name="action" value="raise" class="col-lg-2" disabled>raise</button>
            <button type="submit" name="action" value="fold" class="col-lg-2">fold</button>
            <button type="submit" name="action" value="mise1" class="col-lg-1" disabled>mise (1)</button>
            <button type="submit" name="action" value="mise2" class="col-lg-1" disabled>mise (2)</button>
        <% } %>
    </form>
    <% } %>
    <p>pot : <%= pot %></p>
</body>
</html>